@import url('https://fonts.googleapis.com/css2?family=Bayon&family=Bebas+Neue&family=Julius+Sans+One&family=Megrim&family=Paytone+One&family=Permanent+Marker&display=swap');


body, html{
/*deletes space on sides and top*/
  margin: 0px;
  padding: 0px; 
/*  background-color: #f9f4eb;*/
  background-color: #e9d9d3;
/*  box-sizing: border-box;*/
}

* {
  box-sizing: border-box;
}

.logo{
  margin-left: 40px;
  align-content: center;
  cursor: pointer;
  transition: 0.15s; 
  height: 70%;
  margin-top: 12px;
}



.header{
  height: 80px;
  width: 100%; 
/*  background-color: white;*/
  background-color: #e9d9d3;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  padding:0;
  margin: 0; 
/*  border-style: solid;*/

}

.header_buttons{
   display: flex;
   flex-direction: row;
/*   width: 10vw;*/
   justify-content: center; 
   align-items: center; 
/*   padding-left: 10px;*/
   margin-top: -55px;
   padding-right: 10px;

}

.find_container,
.about_container,.home_container{
  display: flex;
  flex-direction: row;
/*  width: 10vw;*/
  justify-content: center;
  align-items: center;
  margin-right: 20px; 
  margin-top: 55px;
/*  margin-left: 20px; */
 
}

.button1{

    font-family: futura; 
    font-weight: 500; 
    font-size: 16px;
/*    color: #293241; */
/*    color: white;*/
    padding: 8px 16px;
    border-radius: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
/*    border-color: #293241; */
    border-color: black;
    border-style:solid;
    border-width: 1.8;
    cursor:pointer; 
    transition: 0.15s; 
    background-color: #e9d9d3;
   
}

.button1:hover{
    /* background-color: #d4d3d3 ; */
    color: #f76300;
/* #e65349   */
    border-color: #f489b5;

    
}

/*BUTTON YOU ARE ON*/
.button2{

    font-family: futura; 
    font-weight: 500; 
    font-size: 16px;
/*    color: #293241; */
/*    color: white;*/
    padding: 8px 16px;
    border-radius: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
/*    border-color: #293241; */
    border-color: #f489b5;
    border-style:solid;
    border-width: 1.8;
    cursor:pointer; 
    transition: 0.15s; 
    background-color: #e9d9d3;
   
}

/*OTHER LINK*/
.link2{
  text-decoration: none;
  color: #f489b5; 
  transition: 0.15;

}



.link{
  text-decoration: none;
  color: black; 
  transition: 0.15;


}

.link:hover{
  color: #f489b5;
}


.main-img{
  width: 100vw;
  overflow-x: hidden;
}



.black-bar{
  padding-top: 100px;

  width: 100%;
  height: 40vw;
  margin-bottom: 400px;
  background-color: black;
/*  display: flex;*/



}

.heading{

  font-size: 35px;
  font-family: outfit;
  font-weight: 800;
  color: #fffad3;
  padding-left: 100px;
  padding-top: -40px;

}

.bar-text{
  padding-left: 100px;
  font-size: 35px;
  font-family: outfit;
  font-weight: 200;
  padding-right: 100px;
 
  color: #fffad3;
}


.m-m{
  margin-top: -300px;
/*  background-color: blue;*/
  display: flex;
  flex-direction: row;
}


.mentee{
 
/*  background-color: orange;*/
  width: 50%;

}

.mentor{

/*  background-color: green;*/
  width: 50%;
}


.mentee-img{
  width: 80%;
  padding-left: 150px;

/*  padding-right: 700px;*/
}

.mentor-img{
  width: 80%;
  padding-left: 150px;
/*  padding-right: 700px;*/

}


.text-container{
  display: flex;
  width: 70%;

}



.inside-text1{
 
  margin-top: -500px; 
   margin-left: 230px; 
  font-size: 30px;
  font-weight: 100;
  font-family: futura;
  color:  black;

  padding-left: -50px;



}

.inside-text2{
 padding-left: 200px;
 padding-right: 200px;
  margin-top: -515px; 
  margin-left: 50px; 
  font-size: 30px;
  font-weight: 100;
  font-family: futura;
  color:  black;


}



.end-graphic{
  margin-top: 100px;
  width: 100%;
  height: auto;

}

/*Media Queries*/

/*text in mentee/mentor*/
@media only screen and (max-width: 1427px){

  .inside-text2{

    margin-top: -450px;

    font-size: 24px;

  }

  .inside-text1{

    margin-top: -430px;

    font-size: 24px;

  }

  .black-bar{
 
  height: 47vw;

}


}



/*#2*/
@media only screen and (min-width: 1239px) and (max-width: 1317px){

  .inside-text2{

    margin-top: -410px;

    font-size: 20px;

  }

  .inside-text1{

    margin-top: -380px;

    font-size: 20px;

  }

  .black-bar{
 
  height: 55vw;

}

  




}





}

@media only screen and (min-width: 1318px) and (max-width: 1238px){


  .inside-text2, .inside-text1{

    margin-top: -400px;

    font-size: 20px;

  }

  .mentee-img, .mentor-img{

    width: 90%;

  }

  .black-bar{
 
  height: 55vw;

}


 



}

@media only screen and (max-width: 1239px){

    .m-m{
       flex-direction: column;
       padding-left: 130px;
     
    }

    .mentor, .mentee{
      width: 80%;
    }


    .mentor-img{
      padding-top: 90px;
/*      padding-left: 205px;*/
      width: 90.5%;
      padding-bottom: 90px;
    }


    .mentee-img{
/*      padding-left: 200px;*/
      width: 93%;
    }

    .end-graphic{
    margin-top: 350px;
   }



   .inside-text1{

     margin-top: -630px;
     font-size: 35px;
     padding-left: 30px;

   }

   .inside-text2{

     margin-top: -710px;
     font-size: 35px;


   }

    .black-bar{
 
    height: 55vw;

   }


  



}






@media only screen and (max-width: 1050px){


  .inside-text1{

     margin-top: -500px;
     font-size: 25px;
     padding-left: 30px;

   }

   .inside-text2{

     margin-top: -600px;
     font-size: 25px;


   }

   .black-bar{
 
    height: 80vw;

   }


}


@media only screen and (min-width: 528px) and (max-width: 921px){

  body{
    height: 0;
  }

  .m-m{
    display: none;
  }

  .end-graphic{
    display: none;
  }


  .black-bar{
 
  height: 300vw;

}



}






















